<%- include('../partials/header', { title: "Club House" }) %>
<div class="col-12 col-md-11 col-lg-9 col-xl-7">
    <h2 class="fw-bold mb-5 text-uppercase">Clubhouse Rules</h2>
    <ul class="list-group card-body ms-3">
        <li class="list-group-item">
            <strong>Visitors</strong> can view posts.
        </li>
        <li class="list-group-item">
            <strong class="text-primary">Logged-in users</strong> can make posts
            as well as edit and delete their posts.
        </li>
        <li class="list-group-item">
            <strong class="text-warning">Members</strong> can see profiles and
            contact information of all users.
        </li>
        <li class="list-group-item">
            <strong class="text-danger">Admins</strong> can delete any posts or
            users.
        </li>
    </ul>
</div>
