<%- include('../partials/header', { title: "Upgrade" }) %>
<div class="col-12 col-md-11 col-lg-9 col-xl-7">
    <% if (!user.ismember) { %> <%- include('../partials/toMember') %> <% } %>
    <% if (user.ismember && !user.isadmin) { %> <%-
    include('../partials/toAdmin') %> <% } %>
</div>
